<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewProduct</title>
</head>
<body>
    <h1>New products here!!</h1>
    <form action="/products" method="post">
        <label for="pName">Product's name</label>
        <input id="pNmae" type="text" name="name" placeholder="Write product's name">
        <label for="price"></label>
        <input id="price" type="number" name="price" placeholder="Type product's price">
        <label for="category">Select category</label>
        <select name="category" id="category">
            <%for(let category of categories){%>
                <option value="<%=category%>"><%=category%></option>
            <%}%>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>